*{
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
    /* cursor: url(cursor.png), auto; */
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Noto Sans JP', sans-serif;
}

.logo{
    color: black;
    letter-spacing: 1px;
    font-size: 22pt;
    padding-left: 0px;
    font-weight: lighter;
}
.logo a{
    text-decoration: none;
    color: black;
}
.logo a:hover{
    text-decoration: none;
    border-bottom: 0px solid rgba(0, 136, 255, 0.826);
}
.logo a:visited{
    text-decoration: none;
    border-bottom: 0px solid rgba(0, 136, 255, 0.826);
    color: black;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.nav-links {
    text-decoration: none;
}

a:hover{
    border-bottom: 2.5px solid #0088ffd3;
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 15px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color:rgba(255, 255, 224, 0);
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 4px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}
.main{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12pt;
    color: black;
    text-decoration: none;
    padding: 100px;
}
.main a:hover{
    border-bottom: 2.5px solid rgba(0, 136, 255, 0.874);
    color: black;
}
.main a:visited{
    text-decoration: none;
    color: black;
}
.main a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    border-bottom: 2.5px solid rgba(0, 136, 255, 0.258);
}
.past_projects{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12pt;
    color: rgb(77, 77, 77);
    text-decoration: none;
    padding: 100px;
}
.past_projects a:hover{
    border-bottom: 2.5px solid rgba(0, 136, 255, 0.874);
    color: rgb(77, 77, 77);
}
.past_projects a:visited{
    text-decoration: none;
    color: rgb(77, 77, 77);
}
.past_projects a{
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-weight: bolder;
    border-bottom: 2.5px solid rgba(0, 136, 255, 0.258);
}
.subpage_navigation a{
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-size: 12pt;
}
.subpage_navigation a:hover{
    border-bottom: 2.5px solid rgba(0, 136, 255, 0.874);
    color: rgb(77, 77, 77);
}
.subpage_navigation a:visited{
    text-decoration: none;
    color: rgb(77, 77, 77);
}
.subpage_navigation {
    text-decoration: none;
    color: rgb(26, 26, 26);
    font-size: 12pt;
}
.page_title{
    padding-top: 12px;
    padding-bottom: 12px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.first_page{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14pt;
    color: black;
    text-decoration: none;
    padding-left: 200px;
    padding-right: 200px;
}
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    padding: 5px;
}
/* Style the images inside the grid */
.column img {
opacity: 0.8; 
cursor: pointer; 
}
.column img:hover {
opacity: 1;
}
.row{
    padding-left: 90px;
    padding-right: 90px;
}
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}